body
{
    background-image: url("./assets/fondo.jpg");
    background-size: 260%;
    background-position: 50% 40%;
}

@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Bold.ttf");
    font-weight: bold;
}

@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Italic.ttf");
    font-weight: italic;
}

@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Regular.ttf");
    font-weight: regular;
}


nav ul
{
    list-style-type: none;
    padding: 0;
    padding-inline: 30%;
    padding-block: 3.4rem;
    margin: 0;
    display: flex;
}

nav li
{
    flex-grow: 1;
    text-align: center;
}

nav a
{
    color: white;
    text-decoration: none;
    font-family: "Libre Baskerville";
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

nav a:hover
{
    color: hsl(0 0% 90%);
}

.title
{
    text-align: center;
    margin-top: 4rem;
}

.title img
{
    width: 60rem;
    margin: auto;
    display: block;
}
