@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Bold.ttf");
    font-weight: bold;
}

@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Italic.ttf");
    font-weight: italic;
}

@font-face
{
    font-family: "Libre Baskerville";
    src: url("./fonts/LibreBaskerville-Regular.ttf");
    font-weight: regular;
}

body
{
    --height: 130svh;
    background-image: url("./assets/fondo.jpg");
    background-size: 260%;
    background-position: 50% 30%;
    background-attachment: fixed;
    min-height: var(--height);
    font-family: "Libre Baskerville";
}

nav, .cta, .titulo, .flecha
{
    position: fixed;
}


.cta, .titulo, .flecha, .play
{
    left: 50%;
    transform: translateX(-50%);
}

nav
{
    width: 100%;
    top: 0;
}
nav ul
{
    list-style-type: none;
    padding: 0;
    padding-inline: 30%;
    padding-block: 2.6rem;
    margin: 0;
    display: flex;
}

nav li
{
    flex-grow: 1;
    text-align: center;
}

nav a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

nav a:hover
{
    color: hsl(0 0% 90%);
}

.play
{
    position: fixed;
    top: 45svh;
    width: 6rem;
    padding-top: 1.6rem;
    z-index: 10;
    cursor: pointer;
}

.cta
{
    text-align: center;
    top: 55svh;
    left: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo
{
    top: 24svh;
    width: 60%;
    max-width: 55rem;
    z-index: 15;
    transition: 0.7s ease-in-out;
}

.fondo
{
    position: fixed;
    width: 100%;
    min-height: var(--height);
}

.nube
{
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
.nube.uno
{
    opacity: 60%;
    width: 60rem;
    top: 4%;
    left: -14%;
}
.nube.dos
{
    opacity: 85%;
    width: 80rem;
    top: 40%;
    left: -15%;
}
.nube.tres
{
    opacity: 70%;
    width: 68rem;
    top: 15%;
    right: -15%;
}

.cta h1
{
    padding-top: 3.5rem;
    font-size: 2.3rem;
}

.unete
{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.4rem 2.7rem;
    margin-top: 1.1rem;
    
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.flecha
{
    width: 4rem;
    bottom: 0.8rem;
}

.popup-video
{
    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
}
.popup-video iframe
{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
}
.popup-video span
{
    position: absolute;
    top: 5px; right: 20px;
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    font-family: "Arial";
    z-index: 100;
    cursor: pointer;
}

/* entering carbon */
.mask
{
    pointer-events: none;
    position: relative;
}
.carbon
{
    min-height: calc(var(--height) + 70svh);
    pointer-events: none;
    background-image: url("./assets/carbon.png");
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
}

.gradient
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(transparent, black);
    height: 20svh;
}
.main-gradient
{
    position: sticky;
    display: block;
    width: 100%;
}
.main-gradient.block
{
    top: 0;
    height: 25svh;
    background-color: black;
}
.main-gradient.sticky
{
    top: 25svh;
    height: 10svh;
    background-image: linear-gradient(black, transparent);
}

main
{
    position: absolute;
    width: 100%;
    min-height: 200svh;
    background-color: black;
    padding-inline: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main .cta-text
{
    font-size: 3.2rem;
    text-align: center;
    padding-top: 25rem;
    padding-bottom: 6rem;
}
main iframe
{
    min-height: 70svh;
    margin-bottom: 3rem;
}

h2
{
    font-size: 4rem;
    padding-top: 15rem;
}
footer
{
    display: flex;
    flex-direction: row;
    padding-block: 5rem;
    gap: 8%;
}
footer .contact
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
footer p
{
    font-size: 2rem;
}
footer h3
{
    font-size: 3rem;
}

/* animations */

@keyframes pulse
{
    0% { opacity: 100%; }
    50% { opacity: 40%; }
    100% { opacity: 100% }
}

.cta .play, .flecha
{
    animation: pulse 2s ease-in-out infinite;
}

@keyframes parallax
{
    to
    {
	background-position: 50% 35%;
	background-size: 230%;
    }
}

body
{
    animation: parallax linear;
    animation-timeline: scroll();
}

@keyframes nube-uno
{
    to
    {
       transform: translate(20%, 4%);
    }
}
.nube.uno
{
    animation: nube-uno linear;
    animation-timeline: scroll();
}

@keyframes nube-dos
{
    to
    {
       transform: translate(5%, -20%);
    }
}
.nube.dos
{
    animation: nube-dos linear;
    animation-timeline: scroll();
}

@keyframes nube-tres
{
    to
    {
       transform: translate(-20%, -3%);
    }
}
.nube.tres
{
    animation: nube-tres linear;
    animation-timeline: scroll();
}
